#!/usr/bin/env python
# -*- coding: utf-8 -*-
#  @first_date    2016
#  @date          2016
'''User
'''
import hashlib
from datetime import datetime

from rest_framework import serializers

# from pymongo import IndexModel, ASCENDING, DESCENDING
from pymongo.objectid import ObjectId

from mongo_connector.connector import db


class User(object):
    MODEL = db.User
    FIELDS = {
        "_id": None,
        "username": None,
        "email": None,
        "updated_at": datetime.utcnow(),
    }
    '''
    INDEXES = db.User.create_indexes([
        IndexModel([("username", ASCENDING)], unique=True),
    ])
    '''

    def __init__(self, **kwargs):
        '''init'''
        for key, default in self.FIELDS.items():
            value = kwargs.get(key, default)
            if isinstance(value, ObjectId):
                value = str(value)
            setattr(self, key, value)
